---
import Layout from '../layouts/Layout.astro';

const { default: meData } = await import('../assets/me.json');

---

<Layout>
	<h1>{meData.nombre}</h1>
	<h2>{meData.apellidos}</h2>
	<h3>{meData.profesion}</h3>
</Layout>
